html {
    height: 100%;
}

body {
    height: calc(100vh - 198px);
    color: #6c757d;
    font-family: 'Merriweather', serif;
}

.logo-link {
    width: fit-content;
}

.carousel-img {
    width: 100%;
    height: 50vh;
}

.back-top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.back-top-link {
    cursor: pointer;
}

/* --- Media Queries --- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 198px;
    }
}

/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 101px;
    }

    body {
        height: calc(100vh - 101px);
    }
}