<footer class="section-footer border-top mt-5">
	<div class="container">
		<section class="footer-bottom row mob mob-center mt-2">
			<div class="col-md-3 text-md-left">
				<p class="">Tel: 01234567890</p>
			</div>
			<div class="col-md-6 text-md-center">
                <p class=""> &copy 2022 Celebrate with Hampers</p>
			</div>
			<div class="col-md-3 text-md-right">
				<i class="fab fa-cc-visa fa-lg"></i>
				<i class="fab fa-cc-paypal fa-lg"></i>
				<i class="fab fa-cc-mastercard fa-lg"></i>
			</div>
		</section>
	</div>
</footer>