<footer class="section-footer border-top mt-5">
	<div class="container">
		<section class="footer-bottom row mob mob-center mt-2">
			<div class="col-md-3 text-md-left">
				<p class="">Tel: 01234567890</p>
			</div>
			<div class="col-md-6 text-md-center">
                <p class=""> &copy 2022 Celebrate with Hampers</p>
				<ul class="justify-content-center list-unstyled d-flex">
					<li class="mx-3">
					   <a class="text-muted" href="https://facebook.com" target=_blank rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook"></i></a>
					</li>
					<li class="mx-3">
					   <a class="text-muted" href="https://twitter.com" target=_blank rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter-square"></i></a>
					</li>
					<li class="mx-3">
					   <a class="text-muted" href="https://youtube.com" target=_blank rel="noopener" aria-label="Visit our YouTube page (opens in a new tab)"><i class="fab fa-youtube-square"></i></a>
					</li>
					<li class="mx-3">
					   <a class="text-muted" href="https://instagram.com" target=_blank rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
					</li>
				 </ul>
			</div>
			<div class="col-md-3 text-md-right">
				<i class="fab fa-cc-visa fa-lg"></i>
				<i class="fab fa-cc-paypal fa-lg"></i>
				<i class="fab fa-cc-mastercard fa-lg"></i>
			</div>
		</section>
	</div>
</footer>