<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Occasion
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Birthdays</a>
                <a href="" class="dropdown-item">Anniversarys</a>
                <a href="" class="dropdown-item">Thank You</a>
                <a href="" class="dropdown-item">Celebration</a>
                <a href="" class="dropdown-item">Seasonal</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Seasonal Food Hampers</a>
                <a href="" class="dropdown-item ">Alcohol Hampers</a>
                <a href="" class="dropdown-item ">Chocolate Hampers</a>
                <a href="" class="dropdown-item ">Pamper Hampers</a>
                <a href="" class="dropdown-item ">Baby &amp; Kids Hampers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Price
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Hampers up to £20</a>
                <a href="" class="dropdown-item ">Hampers £20 to £60</a>
                <a href="" class="dropdown-item ">Hampers £60 to £80</a>
                <a href="" class="dropdown-item ">Hampers £80 to £100</a>
                <a href="" class="dropdown-item ">Hampers over £100</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bestsellers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
            </div>
        </li>
    </ul>
</div>